{% extends 'base.html' %}

{% load static %}

<title>{% block title %} Registro de usuario {% endblock title %}</title>

{% block contenido %}
<center>
<form method="POST"
 class="mt-5">
  <h1 class="h1">Iniciar sesión</h1>
  <div class="messages">
    {% for message in messages %}
      <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
    {% endfor %}
  </div>
  {% csrf_token %}
  <div class="container">
    <a href="{% url 'password_reset' %}">¡Olvidaste tu contraseña? </a>
    {{ form.as_p }}
  </div>
  <a style="color: black;" href="{% url 'apps.posts:registro' %}">Todavía no está registrado? Registrate</a>
  <br><br>
  <button type="submit" class="btn btn-secondary btn-lg px-3">Iniciar sesión</button>
</form>
</center>
{% endblock %}