{% extends 'base.html' %}
{% load static %}
{% block titulo %} Registro de usuario {% endblock titulo %}

{% block contenido %}
<body style="background-color: #212529;">
<center>
<div class="container">
  <form method="POST" class="card mb-3">
  <h1 class="h1">Iniciar sesión</h1>
  <div class="messages">
    {% for message in messages %}
      <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
    {% endfor %}
  </div>
  {% csrf_token %}
  {{ form.as_p }}
  <a style="color: black;" href="{% url 'apps.posts:registro' %}">Todavía no está registrado? Registrate</a>
    <div class="container">
    <a href="{% url 'password_reset' %}">¡Olvidaste tu contraseña? </a>
    </div>
  <br><br>
  <button type="submit" class="btn btn-secondary btn-lg px-3">Iniciar sesión</button>
  <br><br>
</form>
</div>
</center>
</body>

{% endblock contenido %}