<!-- logout.html -->
{% extends "base.html" %}
{% load static %}

{% block contenido %}
    <div class="logout-message text-white">
        <h2>Sesión Cerrada</h2>
        <p>Serás redirigido a la página principal en <span id="countdown">5</span> segundos.</p>
    </div>

    <script>
        // Cuenta regresiva de 15 segundos
        let countdown = 5;
        const countdownElement = document.getElementById('countdown');

        const interval = setInterval(() => {
            countdown--;
            countdownElement.textContent = countdown;
            if (countdown <= 0) {
                clearInterval(interval);
                window.location.href = "/";  // Redirige a la página principal
            }
        }, 1000);
    </script>
{% endblock contenido %}
