{% extends 'base.html' %}

{% block contenido %}

    {% for i in posts %}

    <br>
    <div class = 'container-noticias'>
        <div>
            <img src= '{{ i.imagen.url }}' alt="imagen de noticia">
        </div>
        <div>
            <h3>{{ i.titulo }}</h3>
            <p>{{ i.subtitulo }}</p>
            <p>{{ i.categoria }}</p>  
            <hr>
        </div>
        
    
    </div>
    
    {% empty %}

    <h1>No hay registros</h1>

    {% endfor %}
    <br>

    <h1>POSTS</h1>

  

{% endblock %}