{% extends 'base.html'%}
{% load static %}

{% block contenido %}
<body style="background-color: #212529; ">
<center>
<div class="mb-2, mx-auto text-white" style="width: fit-content;">
<h1>{% block titulo %} {{ posts.titulo }} {% endblock titulo %}</h1>
  <img src="{{ posts.imagen.url }}" class="img-fluid" alt="{{ noticia }}">
</center>
<p class="text-justify text-white">{{ posts.texto }}</p>
</div>
  {% if user.id == posts.autor_id %}
  <div class="container mt-5">  
    <div class="row mb-4">  
  <div class="col-md-12">  
  <a href="{% url 'apps.posts:modificar_post' posts.pk %}" class="btn btn-dark btn-sm rounded-pill">Modificar post</a>
  <a href="{% url 'apps.posts:eliminar_post' posts.pk %}" class="btn btn-dark btn-sm rounded-pill">Eliminar post</a>
  </div>
  {% endif %}
  <div class="d-flex row mb-2 text-white-50">  
    <p>Fecha: {{ posts.fecha }}</p>
    <br>
    <p>Categoria: {{ posts.categoria }}</p>
  </div>
  {% if user.id == posts.autor_id %}
  <div class="text-light d-flex align-items-center mb-3">  <img src="https://th.bing.com/th/id/R.0ababdb27dd0bb71f21f03c98b6cd6f1?rik=%2fiVDxahrgNztPA&pid=ImgRaw&r=0" width="20px" alt="Autor">
    <p class="ms-2">{{ posts.autor }}</p>
  </div>
  {%endif%}

  <!-- agregar comentarios -->
  
<div class="container-fluid text-white" style="margin-bottom: 20px;">
<h4>Comentarios</h4>
    {% for comentario in comentarios %}
    <div class="card mb-3">
    <table class="list-unstyled d-flex justify-content-between">
            <tr> <td>{{ comentario.texto }}</td></tr>
              </div>
            <tr><td>{{ comentario.usuario }} {{ comentario.fecha }}</td></tr>
        </table>
        {% if user.id == comentario.usuario_id or user.id == user.is_staff %}
        <a class="btn btn-danger" href="{% url 'apps.posts:borrar_comentario' comentario.pk %}">Eliminar</a>
        <a class="btn btn-warning" href="{% url 'apps.posts:modificar_comentario' comentario.pk %}">Modificar</a>
        {% endif %}
    </div>
    {% empty %}
        <p>No hay comentarios. Puedes ser el primero en comentar!</p>
        {% endfor %}
    </div>
</div>

<div class="card mb-3">
    <form method="POST">
        {% csrf_token %}
        {% if user.is_authenticated %}
        <h2>Deja tu comentario</h2>
        {{ form.as_p }}
        <button type="submit" class="btn btn-dark btn-lg">Comentar</button>
        {% else %}
        <h2>Debes iniciar sesión o registrarte para comentar</h2>
        <a class="btn btn-dark btn-lg" href="{% url 'login' %}?next={{ request.path }}#comentario">Iniciar
 sesión</a>
        <input type="hidden" name="next" value="{{ request.path }}">
        {% endif %}
      </form>
</div>
</div>
</body>
{% endblock contenido %}