{% extends 'base.html' %}
{% block titulo %} Noticias {% endblock %} 


{% block contenido %}
<body style="background-color: #212529;">

<hr>
<section>
    <div>

        <h5 class="text-white-50">Ordenar noticias por:
            <br><a href="{% url 'apps.posts:posts' %}" class="btn btn-dark btn-sm rounded-pill">Todas</a>
            <a id="boton_post" href="?orden=reciente"><button class="btn btn-dark btn-sm rounded-pill">Más reciente</button></a>
            <a id="boton_post" href="?orden=antiguo"><button class="btn btn-dark btn-sm rounded-pill">Más antiguo</button></a>
            <a id="boton_post" href="?orden=alfabetico"><button class="btn btn-dark btn-sm rounded-pill">Orden alfabético</button></a>
        </h5>
<hr>
{% for categoria in categorias %}
    
<a id="boton_post" href="?categoria={{categoria.nombre}}" class="me-3"><button class="btn btn-dark btn-sm rounded-pill">{{categoria.nombre}}</button></a>
    
{% endfor %}
</div>
<hr>
    {% if user.is_authenticated %}
    <div class="d-flex justify-content-end me-5">
        <a href="{% url 'apps.posts:nuevo_post' %}" class="btn btn-primary btn-lg rounded-pill">Nuevo Post</a>
        <br>
    </div>
    {% endif %}
</section>

<div class="container">
    <div class="row">
        {% for i in posts %}
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="{{ i.imagen.url }}" class="card-img-top" alt="Imagen de noticia">
                <div class="card-body">
                    <h5 class="card-title">{{ i.titulo }}</h5>
                    <p class="card-text">{{ i.texto | truncatechars:45}} <a href="{% url 'apps.posts:post_individual' i.id %}">seguir leyendo...</a></p>
                    <p class="card-text"><small class="text-muted">{{ i.categoria }}</small></p>
                    <a href="?autor={{i.autor}}"><small>{{i.autor}}</small></a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
</body>

{% endblock %}