{% extends 'base.html' %}


<title> {% block titulo %} Noticias {% endblock %} </title>

{% block contenido %}

<section>
    {% if user.is_authenticated %}
    <a href="{% url 'apps.posts:nuevo_post' %}"><button>Nuevo Post</button></a>
    <hr>
    {% endif %}
</section>

<div class="container-fluid" style="margin: 200px;">
    {% for i in posts %}
    <div>
        <img src= '{{ i.imagen.url }}' alt="imagen de noticia">
    </div>
        <h2>{{ i.titulo }}</h2>
        <p>{{ i.texto | truncatechars:45}} <a href="{% url 'apps.posts:post_individual' i.id %}">seguir leyendo...</a></p>
        <li> {{ i.categoria }} </li> 
        

        <a href="{% url 'apps.posts:eliminar_post' i.pk %}"><button type="submit">Eliminar post</button></a>
     

        
        <hr>
    {% endfor %}
</div>
{% endblock %}