{% extends 'base.html' %}
{% block titulo %} Noticias {% endblock %} 


{% block contenido %}

<hr>
<section>
    {% if user.is_authenticated %}
        <a href="{% url 'apps.posts:nuevo_post' %}" class="btn btn-dark btn-sm rounded-pill">Nuevo Post</a>
        
    {% endif %}
    <div>
        <br><a href="{% url 'apps.posts:posts' %}" class="btn btn-dark btn-sm rounded-pill">Todas</a>
        {% for categoria in categorias %}
        <a href="?categoria={{categoria.nombre}}" class="btn btn-dark btn-sm rounded-pill"> {{categoria.nombre}}</a>
        {% endfor %}
        <a href="?ordenar=fecha" class="btn btn-dark btn-sm rounded-pill">Ordenar por fecha</a>
        <a href="?ordenar=alfabetico" class="btn btn-dark btn-sm rounded-pill">Ordenar alfabeticamente</a>
    </div>
    <hr>
</section>

<div class="container">
    <div class="row">
        {% for i in posts %}
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="{{ i.imagen.url }}" class="card-img-top" alt="Imagen de noticia">
                <div class="card-body">
                    <h5 class="card-title">{{ i.titulo }}</h5>
                    <p class="card-text">{{ i.texto | truncatechars:45}} <a href="{% url 'apps.posts:post_individual' i.id %}">seguir leyendo...</a></p>
                    <p class="card-text"><small class="text-muted">{{ i.categoria }}</small></p>
                    <a href="?autor={{noticia.autor}}"><small>{{noticia.autor}}</small></a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}