{% extends 'base.html' %}

{% block contenido %}

<h1>GameZoneFriends - Posts de los mejores juegos</h1>
<h2>Vas a sentir que el mundo virtual es mejor que el real</h2>
    {% for i in posts %}
    <br>
            <h3>{{ i.titulo }}</h3>
            <ls>{{ i.subtitulo }}</ls>
            <li>{{ i.categoria }}</li>
            <li>{{ i.fecha }}</li>
            <img src = "{{ i.imagen.url }}" style="max-width: 300px; margin: 30px;"> 
            <p>{{ i.contenido }}</p>
            <li> {{ i.activo }}</li>
            
    <br>
            {% empty %}
            <h1>No hay Post</h1>
        
    {% endfor %}

    <br>
    <h3>Otro html</h3>
    <h5>Mostramos otros contenidos</h5>

{% endblock %}